.errorlist
{
    color:green;
    list-style-type: none;

}

html,body {
 width:100vw;
}

body
{
    background-image:url('../images/background.png');
}

/*the p tag is changed to inline because the tinyMCE renders all text as html*/
p {
    display: inline;
}

.bodygrid
{
    display:grid;
    grid-template-areas: 'aside questions rando';
    grid-template-columns: 0.5fr 3fr 1fr;
    padding-top:8vh;
    height:100vh;
    margin-top: 8%;
    margin-right: 10%;
}

/*******************************************************topbar**************************************************************/
.topbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    right: 0;
    width: 100vw;
    background: #fafafb;
    height: 8vh;

    padding: 1% 0;
    box-shadow: 0 1px 9px rgba(59,64,69,0.1);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
    width: 12%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4%;
}

.topbar input
{
    width: 49vw;
}
.registration {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15%;
}
/* removes text decoration for links*/
.login,.registerlink, .editlinks {
    text-decoration: none;
}

/* color for login text*/

.login {
    color:#BE90D4;
    font-size: 1.3rem;
}
/* space between user and login button*/
.registerlink {
    margin-left: 13%;
}

.registerbutton {
    background:#BE90D4;
    color:white;
}

.registration .registerbutton
{
    width: 6vw;

}

.registerbutton:hover {
    background: #9d77b3;
}

/*******************************************************asidebar********************************************************/
.asidebar {
    display: grid;
    grid-area: aside;
    background: #ffffff;
    /*position: fixed;*/
    text-align: right;
    height: 100%;
    top: 9%;
}
.fixed-aside{
    top: 55%;
    position: fixed;
}

.fixed-aside div{

    padding-right: 5%;
    padding-bottom: 8%;
    font-size: 1.3rem;

}
/******************************************************Main body********************************************************/

.test {
    display: grid;
    grid-area:questions;
    background: white;
}

.titlepadding {
    padding:3% 0 0 1.5%;
    display:flex;
    justify-content: space-between;
    height:7rem;
}
/*****************************************************ask_read*********************************************************/
.questionTitle {
    display:inline;
}

.askbutton {
    margin-right:2%;
}
abbr[title]{
    cursor: auto;
    text-decoration: none;
}

.questionMargin{
    padding: 0 0 0 6%;
    border-bottom: 1px solid #9a9a9a;
    margin-top: 2%;
}

.editlinks
{
    grid-area:links;
    display:flex;
    justify-content: flex-start;
    text-decoration: none;
}
.createdProfile {
    grid-area: updates;
    display: flex;
    justify-content: flex-end;
    margin-right:2%;

}

.dateCreatedMargin {
    margin-left:4%;
}

.questionOptions {
    display:grid;
    grid-template-areas: 'links updates';
    grid-template-columns: 1fr 1fr;
    font-size:14px;
    font-style: initial;
    padding-top:2%;
}

.questionOptions span a{
    color: #848d95;
}
.questionFont
{
    font-size: 1rem;
}

.editMargins
{
 margin-right:4%;
}

.qCommentLinks {
    font-size: 14px;
}
.qCommentLinks a{
    color:#848d95;
}
.qCommentMargin {
    margin-right:0.8%;
}

.addQComment {
    color:#848d95;
}

hr {
    height:0
}

.askButton {
    margin-top: 6%;
    margin-left: 1.5%;
}
.askForm
{
    padding-top:3%;
}
.edit {
    font: initial;
}

abbr.pointer {
    cursor: pointer;
}
.qComment
{
    font-size: 14px;
    border-top: 1px solid #9a9a9a;
    padding: 1% 0 1% 3.5%;
}

.qComment:nth-of-type(odd)
{
    background:#fafafb;
}
.qComment:last-of-type
 {
     background:white;
 }

/****************************************************index***********************************************************/

div.changeColors:nth-of-type(odd)
{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background: #fafafb;
}

div.changeColors:nth-of-type(even)
{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background: white;
}

.answered
{
    display: inline-block;
    text-align: center;
    border: 1px solid limegreen;
    color: green;
    border-radius: 10%;
    width:78px;
}

.questionInfo
{
    margin-left: 9%;
}

.questionIndex
{
    margin-right: auto;
    padding-left: 6%;
    width: fit-content;
}
.authorName{
    display: flex;
    align-items: flex-start;
    padding-top: 1%;
    padding-left: 5%;
    width: fit-content;
    text-align: right;
    margin-left: auto;
    padding-bottom: 5%;

}

.authorInfo
{
    display:inline-block;
}
/****************************************************Right Aside*******************************************************/
.rightAside {
    grid-area: rando;
    background: #ffffff;
}

.randoQ
{
    padding-left: 8%;
    padding-bottom: 8%;
    font-size: 0.9rem;
}
.randoQTitle
{
    padding: 8% 0 5% 8%;
    font-size: 1.3rem;
}


.randoQ a:hover, .questionIndex p:hover
{
    color: #3af;
}