{% extends 'passionProjectApp/base.html' %}
{% block body %}
<div class="titlepadding">
    <h1 class="questionTitle">All Questions</h1>
    <a class="askbutton" href="{% url 'ask' %}"><button type="button" class="btn registerbutton">Ask a question</button></a>
</div>
<div class="dateResults">
    <a href="{% url 'allquestions' %}"><button class="btn btn-primary">All Questions</button></a>
    <a href="{% url 'index' %}"><button class="btn btn-primary">Today</button></a>
    <a href="{% url 'week' %}"><button class="btn btn-primary">Week</button></a>
    <a href="{% url 'month' %}"><button class="btn btn-primary">Month</button></a>
</div>

<hr/>

{% if questionpage %}
{% for x in questionpage %}
<!-- element.child_set accesses a reverse foreign key-->
<div class="changeColors">

    <div class="questionInfo">
        {% if x.answer_set.count == 1 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answer</div></div>
        {% elif x.answer_set.count == 0 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% else %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% endif %}
    </div>


    <a class='questionIndex' href="{% url 'ask_read' x.id %}">{% autoescape off %}{{x.title}}{% endautoescape %}</a>
    <div class="authorInfo">
        <div class ='authorName'>{{x.author}}</div>
        {% load tz %}
        {% if x.last_update > x.date_created %}
        {% timezone "America/Chicago" %}
        <abbr title="created {{x.last_update}}"> {% endtimezone %}edited {{x.last_update|date:"M j, Y H:i"}}</abbr>
        {% else %} {% timezone "America/Chicago" %} <abbr title="{{x.date_created}}"> {% endtimezone %} asked {{x.date_created|date:"M j Y"}} at {% load tz %}{{x.date_created|utc|date:"G:i"}}</abbr>
        {% endif %}

    </div>
</div>
{% endfor%}
{% endif %}
{% load mathfilters %}
<!--{{questionpage.paginator.num_pages}}-->
<div style="text-align: center">
{% if questionpage.paginator.num_pages > 1 %}
{% if questionpage.paginator.num_pages > 6 %}
{% if questionpage.has_previous %}
<a href="?page=1">First</a>
{% if questionpage.number != 1 or questionpage.number != 2 %}
<a href="?page={{questionpage.previous_page_number}}">Previous</a>
{% endif %}
{% endif %}
{% endif %}
{% for y in  questionpage.paginator.page_range %}
    {% if questionpage.paginator.num_pages < 6 %}
        {% if questionpage.number == y %}
        <b>{{y}}</b>
        {% else %}
        <a href ="?page={{y}}">{{y}}</a>
        {% endif %}
    {% else %}
        {% if questionpage.number == y %}
        <b>{{y}}</b>
        {% elif y > questionpage.number|sub:3  and y < questionpage.number|add:3 %}
        <a href="?page={{y}}">{{y}}</a>
        {% endif %}
    {% endif %}
    {% endfor %}
{% if questionpage.has_next %}
<a href="?page={{questionpage.next_page_number}}">Next</a>
{% if questionpage.number != questionpage.pagination.num_pages %}
<a href="?page={{questionpage.paginator.num_pages}}">Last</a>
{% endif %}
{% endif %}
{% endif %}
</div>

{% endblock body %}
