{% extends 'passionProjectApp/base.html' %}
{% block body %}
{% if form.errors %}
{% for errors in form.errors %}
{{ errors }}
{% endfor %}
{% endif%}
{% if request.user == answer.author %}
<div class="titlepadding">
    <h1 class="questionTitle">Edit your answer</h1>
</div>
<hr/>
<br/>
<form method="post">
    {% csrf_token %}
    <span class="askButton">{{form.message.label_tag}}</span>
    {{form.message}}
    <button class=" btn btn-primary askButton">Submit</button>
</form>
{% else %}
<h1>You can't come on this page</h1>
{% endif %}

{% endblock body %}