{% extends 'passionProjectApp/base.html' %}
{% block body %}
{% if request.user == answer.author %}
<div class="titlepadding">
    <h1 class="questionTitle">Are you sure you want to delete this answer?</h1>
</div>
<hr/>
<br/><form method="post">
    {%csrf_token%}
    <span class="askButton">{{form.message.label_tag}}</span>
    {{form.message}}

    <button class=" btn btn-danger askButton" name="delete">Delete</button>
    <a href="{% url 'ask_read' answer.parent.id %}">
        <button class=" btn btn-primary askButton">Return to previous page</button></a>
</form>
{% else %}
<h1>GET THE FUCK OFF THIS PAGE. YOU AIN'T THE OWNER YA FOOL</h1>
{% endif %}
{% endblock body %}