{% extends 'passionProjectApp/base.html' %}
{% block body %}
<p></p>
<div class="test">
{% if question %}
<div class="titlepadding">
    <h1 class="questionTitle"> {% autoescape off %}{{question.title}} {% endautoescape %}</h1>
    <a class="askbutton" href="{% url 'ask' %}"><button type="button" class="btn registerbutton">Ask a question</button></a>
</div>
<hr/>

<p>{% autoescape off%}{{question.question}} {% endautoescape %}</p>
{{question.date_created|date:'F j, Y G:i'}}UTC


    {% if request.user == question.author %}
<a href="{% url 'ask_edit' question.id %}">Edit a Question</a>
<a href="{% url 'ask_del' question.id %}">Delete on a Question</a>
{% endif %}
{% endif %}
<p></p>
<p></p>
<h1>Question comments</h1>
{% if question_comment %}
{% for x in question_comment %}
{% autoescape off %} {{x.message}} {% endautoescape %}
{% if request.user == x.author %}
<a href="{% url 'comment_ask_edit' x.id %}">Edit Q Comment</a>
<a href="{% url 'comment_ask_del' x.id %}">Delete  Q Comment</a>
{% endif %}
{% endfor %}
{% endif %}
<p><a href="{% url 'comment_ask' question.id %}">Comment on a Question</a></p>
<p></p>
<p></p>
{% if answers %}
{% for x in answers %}
{% autoescape off%} <h2>This is an answer</h2>{{x.message}} {% endautoescape %}
{% if request.user == x.author %}
<a href="{% url 'answer_edit' x.id %}">Edit an answer</a>
<a href="{% url 'answer_del' x.id %}">Delete on an answer</a>
{% endif %}
<p></p>
<h6>Answer Comment</h6>
{% if answer_comment %}
{% for y in answer_comment %}
{% if y.parent == x %}
{% autoescape off %}{{y.message}} {% endautoescape %}
{% if request.user == y.author %}
<a href="{% url 'comment_answer_edit' y.id  x.parent_id %}">Edit A comment</a>
<a href="{% url 'comment_answer_del' y.id x.parent_id %}">Delete A answer</a>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
<p><a href="{% url 'comment_answer' x.id%}">Comment on an answer</a></p>

{% endfor %}
{% endif %}
<p></p>

<a href="{% url 'answer' question.id%}">Your answer</a>

<form  onsubmit="putCookie()" class="askForm" method ='POST' action="{% url 'answer' question.id %}">
    {% csrf_token %}
    {{form.as_p}}
<p><button >Submit</button></p>
</form>
</div>
{% endblock body %}