{% extends 'passionProjectApp/base.html' %}
{% block body %}
{% load mathfilters %}
{% if question %}
<div class="titlepadding">
    <h3 class="questionTitle"> {% autoescape off %}{{question.title}} {% endautoescape %}</h3>
    <a class="askbutton" href="{% url 'ask' %}"><button type="button" class="btn registerbutton">Ask a question f</button></a>
</div>
<hr/>

    <div class="questionMargin"><div class="questionFont">{% autoescape off%}{{question.question}} {% endautoescape %}</div>
    <div class="questionOptions">
        {% if request.user == question.author %}
    <span class="editlinks">
    <a class= 'editMargins' href="{% url 'ask_edit' question.id %}"><abbr class="pointer" title="revise and improve post">edit</abbr></a>
    <a href="{% url 'ask_del' question.id %}"><abbr class='pointer' title="remove post including answers and comments">delete</abbr></a>
    {% endif %}
    </span>
    {% if question.last_update > question.date_created %}
    <span class="createdProfile">{% load tz %} {% timezone "America/Chicago" %} <abbr title="{{question.last_update}}">{% endtimezone %}
         edited {{ question.last_update|utc|date:"M j 'y"}} at {{ question.last_update|utc|date:'H:i' }}</abbr> {% timezone "America/Chicago" %}<span class="dateCreatedMargin">Asked <abbr title="{{question.date_created}}">{% endtimezone %}{{ question.date_created|utc|date:"M j 'y"}} at {{ question.date_created|utc|date:'H:i' }} by {{question.author}}</abbr></span>
    </span>
    {% else %}
        {% load tz %} {% timezone "America/Chicago" %} <span ><abbr class="" title="{{question.date_created}}">{% endtimezone %}
            asked {{ question.date_created|utc|date:"M j 'y"}} at {{ question.date_created|utc|date:'H:i' }} by {{question.author}}
        </abbr></span>
    {% endif %}
    {% endif %}
    </div>

        {% if question_comment %}
        {% for x in question_comment %}
        <div class="qComment">
            {% load tz %}
            {% if x.last_update > x.date_created %}
            {% autoescape off %} {{x.message}} {% endautoescape %} — <span>{{x.author}}
                {% timezone "America/Chicago" %}
                <abbr title="{{x.last_update}}"> edited
                {% endtimezone %} {{ x.last_update|date:"M j 'y "}}{{ x.date_created|date:'H:i' }}</abbr></span>

            {% else %}
            {% autoescape off %} {{x.message}} {% endautoescape %} — <span>{{x.author}}
                {% timezone "America/Chicago" %}
                <abbr title="{{x.last_update}}">
                {% endtimezone %} {{ x.last_update|date:"M j 'y "}}{{ x.date_created|date:'H:i' }}</abbr></span>
            {% endif %}
            {% if request.user == x.author %}
        <div class="qCommentLinks">
            <a class="qCommentMargin" href="{% url 'comment_ask_edit' x.id %}"><abbr class="pointer" title="revise and improve comment">edit</abbr></a>
        <a href="{% url 'comment_ask_del' x.id %}"><abbr title="delete comment">delete</abbr></a></div>
        {% endif %}
        </div>
        {% endfor %}
        {% endif %}
        <a class="addQComment" href="{% url 'comment_ask' question.id %}">add comment</a>
    </div>
        {% if answers %}
        <br/><br/><br/><br/>
        {% if totalAnswers != 1 %}
        <h3 class="titlepadding"> {{totalAnswers}} Answers</h3>
        {% else %}
        <h3 class="titlepadding"> 1 Answer</h3>
        {% endif %}
        {% for x in answers %}

    <div class="questionMargin"> <div class="questionFont"> {% autoescape off%}{{x.message}} {% endautoescape %}</div>
        <div class="questionOptions">
            {% if request.user == x.author %}
            <span class="editlinks">
    <a class= 'editMargins' href="{% url 'answer_edit' x.id %}"><abbr class='pointer' title="revise and improve post">edit</abbr></a>
    <a href="{% url 'answer_del' x.id %}"><abbr class='pointer' title="remove post including comments">delete</abbr></a>
    {% endif %}
    </span>
            {% load tz %}
            {% if x.last_update > x.date_created %}
            <span class="createdProfile"> {% timezone "America/Chicago" %} <abbr title="{{question.last_update}}"> {% endtimezone  %}
         edited {{ x.last_update|date:"M j 'y"}} at {{ x.last_update|date:'H:i' }}</abbr> <span class="dateCreatedMargin">Asked {% timezone "America/Chicago" %} <abbr title="{{x.date_created}}"> {% endtimezone  %} {{x.date_created|date:"M j 'y"}} at {{x.date_created|date:'H:i' }} by {{x.author}}</abbr></span>
    </span>
            {% else %}
            <span class="createdProfile"> {% timezone "America/Chicago" %}<abbr title="{{x.date_created}}"> {% endtimezone  %}
            {% load tz %} asked {{ x.date_created|date:"M j 'y"}} at {{ x.date_created|date:'H:i' }} by {{x.author}}
        </abbr></span>

            {% endif %}
        </div>


        {% if answer_comment %}
        {% for y in answer_comment %}
        {% if y.parent == x %}
        <div class="qComment">
            {% load tz %}
            {% if y.last_update > y.date_created %}
            {% autoescape off %} {{y.message}} {% endautoescape %} — <span>{{y.author}}
                {% timezone "America/Chicago" %}
                <abbr title="{{y.last_update}}"> edited
                {% endtimezone %} {{ y.last_update|date:"M j 'y "}}{{ y.date_created|date:'H:i' }}</abbr></span>

            {% else %}
            {% autoescape off %} {{x.message}} {% endautoescape %} — <span>{{x.author}}
                {% timezone "America/Chicago" %}
                <abbr title="{{x.last_update}}">
                {% endtimezone %} {{ y.last_update|date:"M j 'y "}}{{ y.date_created|date:'H:i' }}</abbr></span>
            {% endif %}
            {% if request.user == y.author %}
            <div class="qCommentLinks">
                <a class="qCommentMargin" href="{% url 'comment_answer_edit' y.id x.parent_id %}"><abbr class='pointer' title="revise and improve comment">edit</abbr></a>
                <a href="{% url 'comment_answer_del' y.id x.parent_id %}"><abbr class='pointer' title="delete comment">delete</abbr></a></div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}       <!--<hr/><div class="qComment"><a class='addQComment' href="{% url 'comment_answer' x.id%}">add comment</a></div></div><br/>-->
        {% endif %}
<div class="qComment"><a class='addQComment' href="{% url 'comment_answer' x.id%}">add comment</a></div></div><br/>
        {% endfor %}
        <h3 class="titlepadding">Your answer</h3>
    {% else %}
    <br/><br/><br/><br/>

        <h3 class="titlepadding">Be the first to answer</h3>
        {% endif %}
        <form  onsubmit="putCookie()" class="askForm" method ='POST' action="{% url 'answer' question.id %}">
            {% csrf_token %}
            <span class="sr-only">{{form.message.label_tag}}</span>
            {{form.message}}

            <button class=" btn btn-primary askButton">Post your answer</button>
        </form>
{% endblock body %}