{% extends 'passionProjectApp/base.html' %}
{% block body %}
<body>
{% if request.user == question.author %}
<div class="titlepadding">
    <h1 class="questionTitle">Are you sure you want to delete this post?</h1>
</div>
<hr/>
<br/>
<form method="post">
    {% csrf_token %}
    <span class="askButton">{{form.title.label_tag}}</span>
    {{form.title}}
    <br/><br/>
    <span class="askButton">{{form.question.label_tag}}</span>
    {{form.question}}

    <button class=" btn btn-danger askButton" name="delete">Delete</button>
    <a href="{% url 'ask_read' question.id %}"><button class=" btn btn-primary askButton">Return to previous page</button></a>
</form>

{% else %}
<h1>403 Unauthorized Access</h1>
{% endif %}
{% endblock body %}