<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{form.media}}
</head>
<body>
<h1> This is the template when you can read the question</h1>
{{request.user}}
<p><a href="{% url 'logout' %}">logout</a></p>

<p></p>
<a href="{% url 'ask' %}"> Ask a question</a>
<p></p>

{% if question %}
{{question.author}}
<strong> {% autoescape off %}{{question.title}} {% endautoescape %}</strong>
<p>{% autoescape off%}{{question.question}} {% endautoescape %}</p>
{{question.date_created}}
{% if request.user == question.author %}
<a href="{% url 'ask_edit' question.id %}">Edit a Question</a>
<a href="{% url 'ask_del' question.id %}">Delete on a Question</a>

{% else %}
They don't match
{% endif %}
{% endif %}
<p></p>
<p></p>
<h1>Question comments</h1>
{% if question_comment %}
{% for x in question_comment %}
{% autoescape off %} {{x.message}} {% endautoescape %}

{% endfor %}
{% endif %}
<a href="{% url 'comment_ask' question.id %}">Comment on a Question</a>
<p></p>
<p></p>
{% if answers %}
{% for x in answers %}
{% autoescape off%} <h2>This is an answer</h2>{{x.message}} {% endautoescape %}
<a href="{% url 'answer_edit' x.id %}">Edit an answer</a>
<a href="{% url 'answer_del' x.id %}">Delete on an answer</a>
<p></p>
<h2>Answer Comment</h2>
{% if answer_comment %}
{% for y in answer_comment %}
{% if y.parent == x %}
{% autoescape off %}{{y.message}} {% endautoescape %}
{% endif %}
{% endfor %}
{% endif %}
<p><a href="{% url 'comment_answer' x.id%}">Comment on an answer</a></p>

{% endfor %}
{% endif %}
<p></p>

<a href="{% url 'answer' question.id%}">Your answer</a>


</body>
</html>