{% extends 'passionProjectApp/base.html' %}
{% block body %}
{% if request.user == question.author %}
<div class="titlepadding">
    <h1 class="questionTitle">Edit your post</h1>
</div>
<hr/>
<br/>
<form class ='askForm' method="post">
    {% csrf_token %}
    <span class="askButton">{{form.title.label_tag}}</span>
    {{form.title}}
    <br/><br/>
    <span class="askButton">{{form.question.label_tag}}</span>
    {{form.question}}
    <br/><br/>
    <span class="askButton">{{form.topic.label_tag}}</span>
    <p>{{form.tag}}</p>
    <button class=" btn btn-primary askButton">Submit</button>
</form>
{% else %}
<h1>403 Unauthorized Access</h1>
{% endif %}
{% endblock body %}