<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {{form.media}}
    <link rel="stylesheet" href="{% static 'passionProjectApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'passionProjectApp/css/base.css' %}">
    <script src="{% static 'passionProjectApp/JavaScript/base.js' %}"></script>
    <script src="{% static 'passionProjectApp/js/bootstrap.js' %}"></script>
</head>
<body>
{% if request.user.is_authenticated %}
<div class="topbar">
    <div class ='logo'><a href="{% url 'index' %}">Placeholder logo</a></div>
    <form class="search">
        <input type="text" name="search" placeholder="Search...">
    </form>
    <div class='registration'>
        <span class='login'>{{request.user}}</span> <a class='registerlink' href="{% url 'logout' %}"><button type="button" class=" btn registerbutton">Sign Out</button></a></div>
</div>
{% else %}
<div class="topbar">
    <div class ='logo'><a href="{% url 'index' %}">Placeholder logo</a></div>
    <form class="search">
        <input type="text" name="search" placeholder="Search...">
    </form>
    <div class='registration'>
        <a class='login' href="{% url 'login' %}">Login</a> <a class='registerlink' href="{% url 'register' %}"><button type="button" class=" btn registerbutton">SignUp</button></a></div>
</div>
{% endif %}

<div class="bodygrid">
<aside class="asidebar">
    <div class="fixed-aside">info to the left</div>
</aside>
    <div class="test">

{% block body %}

{% endblock body %}
</div>
    <div class="rightAside">
            rightAside
    </div>
</div>
{% block jquery %}
<script src="{% static 'passionProjectApp/JavaScript/jquery-3.4.1.min.js' %}"></script>
{% endblock jquery%}
</body>
</html>