<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math.αlphα</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'passionProjectApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'passionProjectApp/css/base.css' %}">
    <script src="{% static 'passionProjectApp/JavaScript/base.js' %}"></script>
    <script src="{% static 'passionProjectApp/js/bootstrap.js' %}"></script>
    {{form.media}}
</head>
<body >
{% if request.user.is_authenticated %}
<div class="topbar">
    <div class ='logo login'><a href="{% url 'index' %}">Math.αlphα</a></div>
    <form action='{% url "search" %}' method="GET" class="search">
        <input type="text" name="search" placeholder="Search...">
    </form>
    <div class='registration'>
        <span class='login'>{{request.user}}</span> <a class='registerlink' href="{% url 'logout' %}"><button type="button" class=" btn registerbutton">Sign Out</button></a></div>
</div>
{% else %}
<div class="topbar">
    <div class ='logo login'><a href="{% url 'index' %}">Math.αlphα</a></div>
    <form action='{% url "search" %}' method="GET" class="search">
        <input type="text" name="search" placeholder="Search...">
    </form>
    <div class='registration'>
        <a class='login' href="{% url 'login' %}">Login</a> <a class='registerlink' href="{% url 'register' %}"><button type="button" class=" btn registerbutton">SignUp</button></a></div>
</div>
{% endif %}
<!--<aside class="asidebar">-->
<!--    <div class=" fixed-aside">-->
<!--        <div id="home"><a href="{% url 'index' %}">Home</a></div>-->
<!--        <div id="questions"><a href="{% url 'allquestions' %}">Questions</a></div>-->
<!--    </div>-->
<!--</aside>-->
<div class="bodygrid">

<div class="rightAside">
    <div class="randoQTitle">Other questions</div>
    {% if randomquestion %}
    {% for x in randomquestion %}
    <div class="randoQ"><a href="{% url 'ask_read' x.id %}">{% autoescape off %} {{x.title}} {% endautoescape %}</a></div>
    {% endfor %}
    {% endif %}
</div>
<div class="test">
    <div>
{% block body %}

{% endblock body %}
</div>
</div>
</div>
</body>
<script src="{% static 'passionProjectApp/JavaScript/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'passionProjectApp/JavaScript/voting.js' %}"></script>

</html>