{% extends 'passionProjectApp/base.html' %}
{% block body %}
<div class="titlepadding">
    <h1 class="questionTitle">Questions</h1>
    <a class="askbutton" href="{% url 'ask' %}"><button type="button" class="btn registerbutton">Ask a question</button></a>
</div>
<hr/>

{% if allquestions %}
{% for x in allquestions %}
<!-- element.child_set accesses a reverse foreign key-->
<div class="changeColors">

    <div class="questionInfo">
        {% if x.answer_set.count == 1 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answer</div></div>
        {% elif x.answer_set.count == 0 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% else %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% endif %}
    </div>


    <a class='questionIndex' href="{% url 'ask_read' x.id %}">{% autoescape off %}{{x.title}}{% endautoescape %}</a>
    <span class ='authorInfo'>{{x.author}} {% if x.last_update > x.date_created %}  <abbr title="edited on {{x.last_update}}"> {{x.date_created|date:"M j 'y H:i"}}*</abbr> {% else %} <abbr title="{{x.date_created}}">{{x.date_created|date:"M j 'y H:i"}}</abbr> {% endif %}</span>

</div>

{% endfor%}
{% endif %}

{% endblock body %}
