{% extends 'passionProjectApp/base.html' %}
{% block body %}
<div class="titlepadding">
    <h1 class="questionTitle">Top questions of today</h1>
    <a class="askbutton" href="{% url 'ask' %}"><button type="button" class="btn registerbutton">Ask a question</button></a>

</div>
<div class="dateResults">
    <a href="{% url 'allquestions' %}"><button class="btn btn-primary">All Questions</button></a>
    <a href="{% url 'index' %}"><button class="btn btn-primary">Today</button></a>
    <a href="{% url 'week' %}"><button class="btn btn-primary">Week</button></a>
    <a href="{% url 'month' %}"><button class="btn btn-primary">Month</button></a>
</div>
<hr/>

{% if allquestions %}
{% for x in allquestions %}
<!-- element.child_set accesses a reverse foreign key-->
<div class="changeColors">

    <div class="answerAndVote">
        {% if x.answer_set.count == 1 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answer</div></div>
        {% else %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% endif %}
    </div>


    <a class='questionIndexTitle' href="{% url 'ask_read' x.id %}">{% autoescape off %}{{x.title}}{% endautoescape %}</a>
    <div class="authorInfo">
        <div class ='authorName'>{{x.author}}</div>
        {% load tz %}
            {% if x.last_update > x.date_created %}
        {% timezone "America/Chicago" %}
        <abbr title="created {{x.date_created}} edited {{x.last_update}}"> {% endtimezone %}edited {{x.last_update|date:"M j, Y H:i"}}</abbr>
            {% else %} {% timezone "America/Chicago" %} <abbr title="{{x.date_created}}"> {% endtimezone %} asked {{x.date_created|date:"M j Y"}} at {% load tz %}{{x.date_created|utc|date:"G:i"}}</abbr>
            {% endif %}

</div>
</div>
{% endfor%}
{% else %}
<aside class="noQuestions">There are no questions for today. Here are some other questions to check out.</aside>
{% if other %}
{% for other in other %}
<div class="changeColors">

    <div class="answerAndVote">
        {% if other.answer_set.count == 1 %}
        <div class="answered"><div >{{other.answer_set.count}}</div> <div>answer</div></div>
        {% else %}
        <div class="answered"><div >{{other.answer_set.count}}</div> <div>answers</div></div>
        {% endif %}
    </div>


    <a class='questionIndexTitle' href="{% url 'ask_read' other.id %}">{% autoescape off %}{{other.title}}{% endautoescape %}</a>
    <div class="authorInfo">
        <div class ='authorName'>{{other.author}}</div>
        {% load tz %}
        {% if other.last_update > other.date_created %}
        {% timezone "America/Chicago" %}
        <abbr title="created {{other.date_created}} edited {{other.last_update}}"> {% endtimezone %}edited {{other.last_update|date:"M j, Y H:i"}}</abbr>
        {% else %} {% timezone "America/Chicago" %} <abbr title="{{other.date_created}}"> {% endtimezone %} asked {{other.date_created|date:"M j Y"}} at {% load tz %}{{other.date_created|utc|date:"G:i"}}</abbr>
        {% endif %}

    </div>
</div>
{% endfor %}
{% endif %}
{% endif %}
{% load mathfilters %}
<div style="text-align: center">
    {% if allquestions.paginator.num_pages > 1 %}
    {% if allquestions.paginator.num_pages > 5 %}
    {% if allquestions.has_previous and allquestions.number > 4 %}
    <a href="?page=1">First</a>
    {% endif %}
    {% endif %}

    {% if allquestions.paginator.num_pages < 6 %}
    {% for x in allquestions.paginator.page_range %}
    {% if allquestions.number == x %}
    <b>{{x}}</b>
    {% else %}
    <a href="?page={{x}}">{{x}}</a>
    {% endif %}
    {% endfor %}


    {% else %}
    {% if allquestions.number < 5 %}
    {% for x in range_limit %}
    {% if allquestions.number == x %}
    <b>{{x}}</b>
    {% else %}
    <a href="?page={{x}}">{{x}}</a>
    {% endif %}
    {% endfor %}
    {% elif allquestions.number >= allquestions.paginator.num_pages|sub:2 %}
    {% for i in range_end %}
    {% if allquestions.number == i %}
    <b>{{i}}</b>
    {% else %}
    <a href="?page={{i}}">{{i}}</a>
    {% endif %}
    {% endfor %}
    {% else %}
    {% for x in allquestions.paginator.page_range %}
    {% if allquestions.number == y %}
    <b>{{y}}</b>
    {% elif y > allquestions.number|sub:3  and y < allquestions.number|add:3 %}
    <a href="?page={{y}}">{{y}}</a>
    {% endif %}
    {% endfor %}
    {% endif %}


    {% if allquestions.number != allquestions.paginator.num_pages %}
    <a href="?page={{allquestions.paginator.num_pages}}">Last</a>
    {% endif %}
    {% endif %}
    {% endif %}
</div>

{% endblock body %}
