{% extends 'passionProjectApp/base.html' %}
{% block body %}
<div class="titlepadding">
    <h1 class="">Top questions of the month</h1>
    <a class="askbutton" href="{% url 'ask' %}"><button type="button" class="btn registerbutton">Ask a question</button></a>
</div>
<div class="dateResults">
    <a href="{% url 'allquestions' %}"><button class="btn btn-primary">All Questions</button></a>
    <a href="{% url 'index' %}"><button class="btn btn-primary">Today</button></a>
    <a href="{% url 'week' %}"><button class="btn btn-primary">Week</button></a>
    <a href="{% url 'month' %}"><button class="btn btn-primary">Month</button></a>
</div>
<hr/>

{% if allquestions %}
{% for x in allquestions %}
<!-- element.child_set accesses a reverse foreign key-->
<div class="changeColors">

    <div class="answerAndVote">
        {% if x.answer_set.count == 1 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answer</div></div>
        {% elif x.answer_set.count == 0 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% else %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% endif %}
    </div>


    <a class='questionIndexTitle' href="{% url 'ask_read' x.id %}">{% autoescape off %}{{x.title}}{% endautoescape %}</a>
    <div class="authorInfo">
        <div class ='authorName'>{{x.author}}</div>
        {% load tz %}
        {% if x.last_update > x.date_created %}
        {% timezone "America/Chicago" %}
        <abbr title="created {{x.date_created}} edited {{x.last_update}}"> {% endtimezone %}edited {{x.last_update|date:"M j, Y H:i"}}</abbr>
        {% else %} {% timezone "America/Chicago" %} <abbr title="{{x.date_created}}"> {% endtimezone %} asked {{x.date_created|date:"M j Y"}} at {% load tz %}{{x.date_created|utc|date:"G:i"}}</abbr>
        {% endif %}

    </div>
</div>
{% endfor%}
{% endif %}
{% load mathfilters %}
<div style="text-align: center">
    {% if allquestions.paginator.num_pages > 1 %}
    {% if allquestions.paginator.num_pages > 6 %}
    {% if allquestions.has_previous %}
    <a href="?page=1">First</a>
    {% if allquestions.number != 1 or allquestions.number != 2 %}
    <a href="?page={{allquestions.previous_page_number}}">Previous</a>
    {% endif %}
    {% endif %}
    {% endif %}

    {% for y in  allquestions.paginator.page_range %}
    {% if allquestions.paginator.num_pages < 6 %}
    {% if allquestions.number == y %}
    <b>{{y}}</b>
    {% else %}
    <a href ="?page={{y}}">{{y}}</a>
    {% endif %}
    {% else %}

    {% if allquestions.number == y %}
    <b>{{y}}</b>
    {% elif y > allquestions.number|sub:3  and y < allquestions.number|add:3 %}
    <a href="?page={{y}}">{{y}}</a>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if allquestions.has_next %}
    <a href="?page={{allquestions.next_page_number}}">Next</a>
    {% if allquestions.number != allquestions.pagination.num_pages %}
    <a href="?page={{allquestions.paginator.num_pages}}">Last</a>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{% endblock body %}
