{% extends 'passionProjectApp/base.html' %}
{% block body %}
<div class="titlepadding">
    <h1 class="questionTitle">Top questions of the month</h1>
    <a class="askbutton" href="{% url 'ask' %}"><button type="button" class="btn registerbutton">Ask a question</button></a>
</div>
<div class="dateResults">
    <a href="{% url 'allquestions' %}"><button class="btn btn-primary">All Questions</button></a>
    <a href="{% url 'index' %}"><button class="btn btn-primary">Today</button></a>
    <a href="{% url 'week' %}"><button class="btn btn-primary">Week</button></a>
    <a href="{% url 'month' %}"><button class="btn btn-primary">Month</button></a>
</div>
<hr/>

{% if allquestions %}
{% for x in allquestions %}
<!-- element.child_set accesses a reverse foreign key-->
<div class="changeColors">

    <div class="questionInfo">
        {% if x.answer_set.count == 1 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answer</div></div>
        {% elif x.answer_set.count == 0 %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% else %}
        <div class="answered"><div >{{x.answer_set.count}}</div> <div>answers</div></div>
        {% endif %}
    </div>


    <a class='questionIndex' href="{% url 'ask_read' x.id %}">{% autoescape off %}{{x.title}}{% endautoescape %}</a>
    <div class="authorInfo">
        <div class ='authorName'>{{x.author}}</div>
        {% load tz %}
        {% if x.last_update > x.date_created %}
        {% timezone "America/Chicago" %}
        <abbr title="created {{x.last_update}}"> {% endtimezone %}edited {{x.last_update|date:"M j, Y H:i"}}</abbr>
        {% else %} {% timezone "America/Chicago" %} <abbr title="{{x.date_created}}"> {% endtimezone %} asked {{x.date_created|date:"M j Y"}} at {% load tz %}{{x.date_created|utc|date:"G:i"}}</abbr>
        {% endif %}

    </div>
</div>
{% endfor%}
{% endif %}

{% endblock body %}
