<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


Not a member?<a href = "{% url register %}?next={{request.REQUEST.NEXT|urlencode}}">Sign up here</a>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div>

        <div>
            <p>{{ form.username.label_tag }}</p>
            <p>{{ form.username }}</p>
        </div>

        <div>
            <p>{{ form.password.label_tag }}</p>
            <p>{{ form.password }}</p>
        </div>
    </div>

    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>


</body>
</html>